body {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: black;
    background-color: silver;
  }
  #img-div {
   background-color: white;
   border:thin;
  }
  #title {
    color: brown;
    font-size: 50px;
  }
  #image {
    height: 400px;
    width: 500px;
  }
  h3 {
    font-size: 30px;
  }
  #img-caption {
    font-size: 15px;
  }
  #tribute-info {
    text-align: center;
    display: inline-block;
    text-align: left;
  }
  ul {
    text-align: center;
    width: 150px;
  }
  li {
    margin: 10px;
  }
  ul .outside {
    list-style-position: outside
  }

  a {
    color: red;
    font-size: 25px;
  }